@use'../utils/index' as *;
footer {
    // version desktop
    @include desktop-only {
        display: flex;
        justify-content: center;
    }
}

.footer {
    min-width: 88%;
    padding-bottom: 30px;
    padding-left: 5%;
    // version tablette
    @include tablette-only {
        @include flex-mid;
        flex-direction: column;
        padding-left: 0;
    }
    // version desktop
    @include desktop-only {
        padding-bottom: 0px;
        padding-left: 0;
    }
    &__title {
        // version desktop
        @include desktop-only {
            text-align: center;
        }
    }
    &__items {
        // version desktop
        @include desktop-only {
            @include flex-j-c(space-between)
        }
    }
    // version desktop
    @include desktop-only {
        height: 216px;
    }
}

.proposal {
    width: 216px;
    @include flex-j-c(flex-start);
    // border: royalblue 1px solid;
    &__icon-ustensils {
        @include flex-mid;
        padding-right: 21px;
    }
}

.partner {
    width: 216px;
    @include flex-j-c(flex-start);
    // border: royalblue 1px solid;
    &__icon-handshake {
        @include flex-mid;
        padding-right: 15px;
    }
}

.link {
    &--contact a {
        text-decoration: none;
        color: white;
    }
}