@use'../utils/index' as *;
.sidebar {
    &__logo {
        // background-color: red;
        background-color: $background-page;
        h1 {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
}