@use'../utils/index' as *;
* {
    box-sizing: border-box;
}

.container {
    @include flex-mid;
    flex-direction: column;
    max-width: 2000px;
    min-width: 200px;
    // border: black 3px solid;
    margin: auto;
}

header {
    // background-color: rgb(128, 128, 221);
    width: 100%;
}

main {
    // background-color: pink;
    width: 100%;
}

footer {
    // background-color: purple;
    background-color: $footer;
    color: $background-page;
    width: 100%;
}