@use'../utils/index' as *;
.sidebar {
    &__logo {
        text-align: center;
        @include Shrikland;
        // version tablette
        @include tablette-only {
            font-size: 30px;
        }
        // version desktop 
        @include desktop-only {
            font-size: 50px;
        }
    }
}

.baseline {
    @include Roboto;
}

// page note enchantée
.stack {
    &__title h2 {
        @include Shrikland;
        font-size: 19px;
        // version tablette
        @include tablette-only {
            font-size: 24px;
        }
        // version desktop 
        @include desktop-only {
            font-size: 28px;
        }
    }
}

.stack-section {
    @include Roboto;
    &__title h4 {
        font-weight: 100;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 500;
    }
    &__description {
        font-size: 12px;
        font-weight: 100;
    }
    &__item2 {
        font-weight: 500;
    }
}

// Main page d'accueil
.main-home h2 {
    font-size: 20px;
}

.hero {
    @include Roboto;
    &__text {
        font-weight: 100;
    }
    &__button a {
        text-decoration: none;
        color: $background-page;
    }
}

.tabs {
    @include Roboto;
    &__items {
        font-size: 12px;
        // version desktop
        @include desktop-only {
            font-size: 16px;
        }
    }
}

.cards {
    @include Roboto;
}

.card {
    &__titles h3 {
        font-size: 14px;
        margin-bottom: 0px;
    }
    &__titles p {
        margin-top: 3px;
        margin-bottom: 0px;
        font-size: 12px;
        font-weight: 100;
    }
}

// Footer
.footer {
    &__title {
        @include Shrikland;
    }
    p {
        margin: 2px;
    }
}

.proposal {
    @include items-contact(500);
}

.partner {
    @include items-contact(500);
}

.link {
    @include items-contact(400);
}