@use'../utils/index' as *;
.sidebar {
    &__logo--page {
        display: flex;
        width: 100%;
        // version tablette
        // @media screen and (min-width: 768px) and (max-width: 992px) {
        //     display: flex;
        //     flex-direction: row;
        // }
        @include tablette-only {
            display: flex;
            flex-direction: row;
        }
        // version desktop
        // @media screen and (min-width: 992px) {
        //     flex-direction: row;
        // }
        @include desktop-only {
            flex-direction: row;
        }
    }
    &__arrow {
        @include flex-mid;
        width: 10%;
        a {
            text-decoration: none;
            color: black;
        }
        // version tablette
        // @media screen and (min-width: 768px) and (max-width: 992px) {
        //     width: 5%;
        // }
        @include tablette-only {
            width: 5%;
        }
        // version desktop
        // @media screen and (min-width: 992px) {
        //     width: 4%;
        // }
        @include desktop-only {
            width: 4%;
        }
    }
    &__place-title-page {
        display: flex;
        justify-content: center;
        // border: black 1px solid;
        width: 90%;
        // version tablette
        // @media screen and (min-width: 768px) and (max-width: 992px) {
        //     width: 95%;
        // }
        @include tablette-only {
            width: 95%;
        }
        // version desktop
        // @media screen and (min-width: 992px) {
        //     width: 96%;
        // }
        @include desktop-only {
            width: 96%;
        }
    }
    &__title-page {
        // background-color: hotpink;
        h1 {
            // version desktop
            // @media screen and (min-width: 992px) {
            //     margin-top: 20px;
            //     padding-right: 100px;
            // }
            @include desktop-only {
                margin-top: 20px;
                padding-right: 100px;
            }
        }
    }
}

// Main
.hero-page {
    &__img {
        width: 100%;
        max-width: 2000px;
        // background-color: mediumorchid;
        background-color: $background-bloc;
        background-size: cover;
        overflow: hidden;
        .img {
            width: 100%;
            object-fit: cover;
            height: 260px;
            object-position: center center;
            // version tablette
            // @media screen and (min-width: 768px) and (max-width: 992px) {
            //     height: 300px;
            // }
            @include tablette-only {
                height: 300px;
            }
            //version desktop 
            // @media screen and (min-width: 992px) {
            //     height: 600px;
            // }
            @include desktop-only {
                height: 600px;
            }
            &--sens {
                height: 250px;
                object-position: center bottom;
                // version tablette
                // @media screen and (min-width: 768px) and (max-width: 992px) {
                //     height: 300px;
                // }
                @include tablette-only {
                    height: 300px;
                }
                //version desktop 
                // @media screen and (min-width: 992px) {
                //     height: 600px;
                // }
                @include desktop-only {
                    height: 600px;
                }
            }
        }
    }
}

.container-stack {
    // background-color: rgb(173, 156, 165);
    background-color: $background-bloc;
}

.position-stack {
    @include flex-mid;
    flex-direction: column;
    width: 100%;
    // background-color: hotpink;
    background-color: $background-bloc;
    position: relative;
    object-position: 50% 50%;
    border-radius: 40px 40px 0 0;
    @include hover-scale;
    // version desktop 
    // @media screen and (min-width: 992px) {
    //     // background-size: cover;
    //     height: 400px;
    // }
    @include desktop-only {
        height: 400px;
    }
    &--palette {
        top: -35px;
    }
    &--note {
        top: -40px;
    }
    &--french {
        top: -30px;
    }
    &--sens {
        top: -35px;
    }
}

.stack {
    // border: black 1px solid;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title heart";
    &__title {
        grid-area: title;
        padding-left: 10px;
        padding-bottom: 20px;
        // background-color: brown;
        // version desktop 
        // @media screen and (min-width: 992px) {
        //     padding-left: 35px;
        // }
        @include desktop-only {
            padding-left: 35px;
        }
    }
    &__action {
        grid-area: heart;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 73px;
        padding-right: 10px;
        padding-bottom: 20px;
        // background-color: cadetblue;
        // version tablette
        // @media screen and (min-width: 768px) and (max-width: 992px) {
        //     font-size: 24px;
        //     padding-bottom: 5px;
        // }
        @include tablette-only {
            font-size: 24px;
            padding-bottom: 5px;
        }
        // version desktop 
        // @media screen and (min-width: 992px) {
        //     padding-right: 34px;
        //     font-size: 28px;
        //     padding-bottom: 0px;
        // }
        @include desktop-only {
            padding-right: 34px;
            font-size: 28px;
            padding-bottom: 0px;
        }
    }
    // version tablette
    // @media screen and (min-width: 768px) and (max-width: 992px) {
    //     // width: 70%;
    //     min-width: 90%;
    // }
    @include tablette-only {
        min-width: 90%;
    }
    // version desktop 
    // @media screen and (min-width: 992px) {
    //     min-width: 90%;
    // }
    @include desktop-only {
        min-width: 90%;
    }
}

.stack-section {
    // border: black 1px solid;
    padding-left: 10px;
    &__title h4 {
        border-bottom: $tertiaire solid 2px;
    }
    &__items {
        width: 98%;
        // border: red 2px solid;
        margin-bottom: 20px;
    }
    &__description {
        display: flex;
        justify-content: space-between;
        // border: lightslategray 2px solid;
    }
    // version tablette
    // @media screen and (min-width: 768px) and (max-width: 992px) {
    //     min-width: 50%;
    // }
    @include tablette-only {
        min-width: 50%;
    }
    // version desktop 
    // @media screen and (min-width: 992px) {
    //     min-width: 28%;
    // }
    @include desktop-only {
        min-width: 28%;
    }
}

.place-stack-section {
    // version tablette
    // @media screen and (min-width: 768px) and (max-width: 992px) {
    //     width: 70%;
    //     @include flex-mid;
    //     flex-direction: column;
    // }
    @include tablette-only {
        width: 70%;
        @include flex-mid;
        flex-direction: column;
    }
    // version desktop 
    // @media screen and (min-width: 992px) {
    //     display: flex;
    //     justify-content: space-around;
    //     min-width: 90%;
    // }
    @include desktop-only {
        display: flex;
        justify-content: space-around;
        min-width: 90%;
    }
}

.position-button-page {
    width: 100%;
    // background-color: hotpink;
    background-color: $background-bloc;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    &--button-page {
        width: 50%;
        // version tablette
        // @media screen and (min-width: 768px) and (max-width: 992px) {
        //     width: 30%;
        // }
        @include tablette-only {
            width: 30%;
        }
        // version desktop 
        // @media screen and (min-width: 992px) {
        //     width: 20%;
        // }
        @include desktop-only {
            width: 20%;
        }
    }
}