@use'variables'as *;
@mixin flex-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

// typographie
@mixin Shrikland {
    font-family: Shrikhand, "Arial Black", Arial, Verdana, sans-serif;
}

@mixin Roboto {
    font-family: Roboto, "Arial Black", Arial, Verdana, sans-serif;
}

@mixin items-contact($weight) {
    @include Roboto;
    font-weight: $weight;
}

//composants
@mixin button {
    text-align: center;
    font-family: Roboto, "Arial Black", Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: $secondaire;
    border-radius: 24px;
    background: linear-gradient(8deg, $primaire 0%, $secondaire 100%, #000 100%);
    box-shadow: 5px 5px 5px 0px $shadow;
    color: $background-page;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

// **********************************************
// partie fonctionnement: placement et style  chiffre + titre + icone
@mixin icon-tabs {
    @include flex-mid;
    padding-right: 15px;
    color: $secondary-font;
    &:hover {
        color: $primaire;
    }
}

@mixin title-icon-position {
    position: relative;
    width: 216px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    background-color: $background-bloc;
    border-radius: 10px;
    // box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px 0px $shadow;
    // border: royalblue 1px solid;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: $hover-item;
    }
    // version desktop
    @media screen and (min-width: 992px) {
        width: 270px;
    }
}

@mixin style-number {
    @include flex-mid;
    background-color: $primaire;
    color: $background-page;
    // border: teal 2px solid;
    position: absolute;
    width: 22px;
    height: 22px;
    right: 205px;
    border-radius: 12px;
    // version desktop
    @media screen and (min-width: 992px) {
        right: 265px;
        font-size: 18px;
        width: 25px;
        height: 25px;
    }
}

// ******************************************************
@mixin items-responsive {
    @media screen and (min-width: 992px) {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}