// **********************************************
// partie fonctionnement: placement et style  chiffre + titre + icone
@mixin icon-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    color: $color-icon;
    &:hover {
        color: $item;
    }
}

@mixin title-icon-position {
    position: relative;
    width: 216px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    background-color: $color-secondary;
    border-radius: 10px;
    // box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px 0px $shadow;
    // border: royalblue 1px solid;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: $hover-item;
    }
    // version desktop
    // @media screen and (min-width: 992px) {}
}

@mixin style-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $item;
    color: $color-primary;
    // border: teal 2px solid;
    position: absolute;
    width: 22px;
    height: 22px;
    right: 205px;
    border-radius: 12px;
}

// ******************************************************
@mixin items-responsive {
    @media screen and (min-width: 992px) {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}